*.o

*.dylib

/data

/out

/.vscode

.DS_Store

/vpython**/*

**/__pycache__
*.pyc

/cli_test

**/voucher_entry.sql

**/.env
**/.flaskenv

.vscode

**/build

/instance

**/helper.py

**/doc_src/build
/build
**/*.gch

**Notebooks