{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <form action="/voucher_result" method="POST">
        <table>
            <tr class="labels">
                <td>Voucher Number</td>
                <td>Split</td>
                <td>Account</td>
                <td>Amount</td>
                <td>Dimension 1</td>
                <td>Dimension 2</td>             
            </tr>
            <tr>
                <td>{{voucher_number}}</td>
                <td>{{split_seq_number}}</td>
                <td><input type="text" name="account_number"></td>
                <td><input type="number" name="amount" step="any"></td>
                <td><input type="text" name="dimension_1"></td>
                <td><input type="text" name="dimension_1"></td>
            </tr>
            <tr class="labels" >
                <td colspan="6">Memo</td>
            </tr>
            <tr>
                <td colspan="6"><input type="text" name="memo"></td>
            </tr>
        </table>
    </form>    

</div> 
{% endblock %} 