{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <table>
            <tr class="labels">
                <td>Number</td>
                <td>Date</td>
                <td>Reference</td>
            </tr>
            <tr>
                <td>{{data["voucher_number"]}}</td>
                <td>{{data["voucher_date"]}}</td>
                <td>{{data["voucher_ref"]}}</td>
            </tr>
        </table>
        </br>
        <table>
            <tr class="labels">
                <td>Type</td>
                <td>Vendor</td>
                <td>Amount</td>
            </tr>
            <tr>
                <td>{{data["voucher_type"]}}</td>
                <td>{{data["vendor"]}}</td>
                <td>{{data["voucher_amt"]}}</td>
            </tr>
        </table>
        </br>
        <table>
            <tr class="labels">
                <td>Payment Type</td>
                <td>Payment Source</td>
                <td>Payment Reference</td>
            </tr>
            <tr>
                <td>{{data["payment_type"]}}</td>
                <td>{{data["payment_source"]}}</td>
                <td>{{data["payment_ref"]}}</td>
            </tr>
        </table>
        <p>Line Items</p>
        <form method="POST" action="/detail_entry">
            <input type="hidden" id="id_voucher_number" name="voucher_number" value="{{data["voucher_number"]}}"/>
            <input type="hidden" id="id_splits_seq" name="splits" value="{{data["Splits"]}}"/>
            <input type="submit" value="+" name="add_detail"/>
        </form>
        

        <table>
            <tr class="labels">
                <td>Seq Num</td>
                <td>Account Number</td>
                <td>Amount</td>
                <td>Dimension 1</td>
                <td>Dimension 2</td>
                <td>Memo</td>
            </tr>
            {% for line in data["Splits"] %}
                <tr>
                    <td>{{line["split_seq_number"]}}</td>    
                    <td>{{line["account_number"]}}</td>
                    <td>{{line["amount"]}}</td>
                    <td>{{line["dimension_1"]}}</td>
                    <td>{{line["dimension_2"]}}</td>
                    <td>{{line["memo"]}}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}