{% extends 'base.html' %}
{% block title %}
Voucher Entry
{% endblock %}
{% block header %}
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
{% endblock %} 
{% block content %}
<div class="container">
    <form action="/voucher/voucher_result" method="POST">
        <table>
            <tr class="labels">
                <td>Transaction Date</td>
                <td>Transaction Reference</td>
            </tr>
            <tr>
                <td><input type="text" name="voucher_date"></td>
                <td><input type="text" name="voucher_ref" width="50"></td>
            </tr>
            <tr class="labels">
                <td>Vendor Name</td>
                <td>Voucher Type</td>
            </tr>
            <tr>
                <td>
                    <select name="vendor" id="vendor-select">
                        {% for vendor in vendor_list %}
                            <option value="{{vendor['vendor_number']}}">{{vendor['vendor_short_desc']}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="voucher_type" id="voucher-type-select">
                        {% for type in voucher_type_list %}
                            <option value="{{type['type_code']}}" {% if type['type_code'] == 2 %} selected {% endif %}>{{type['type_text']}}</option>
                        {% endfor %}
                    </select>

                </td>
            </tr>
            <tr class="labels">
                <td>Amount</td>
                <td>Payment type</td>
                <td>Payment Account</td>
            </tr>
            <tr>
                <td>
                    <input type="number" name="voucher_amt" step="any">
                </td>
                <td>
                    <select name="payment_type" id="voucher-pay-type-select">
                        {% for ptype in payment_type_list %}
                            <option value="{{ptype['payment_type_id']}}" {% if ptype['payment_type_id'] == 6 %} selected {% endif %}>{{ptype['payment_type_text']}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="pmt_account" id="pmt-acct-select">
                        {% for account in account_list %}
                            <option value="{{account['external_account_id']}}">{{account['account_name']}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="labels">
                <td>Payment Reference</td>
            </tr>
            <tr>
                <td><input type="text" name="payment_ref" width="50"></td>
            </tr>
        </table>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}