{% extends 'base.html' %}
{% block header %}
<h1>{{title}}</h1>
<p>{{description}}</p>
{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <label for="number">Voucher Number</label>
            <input name="number" id="number" value="{{data['voucher_number']}}" readonly/>
            <label for="date">Trans Date</label>
            <input name="date" id="date" value="{{data['voucher_date']}}" readonly />
            <label for="ref">Voucher Reference</label>
            <input name="ref" id="ref" value="{{data['voucher_ref']}}" readonly />    
        </div>
        <div>
            <label for="type">Type</label>
            <input name="type" id="type" value="{{data['voucher_type']}}" readonly />
            <label for"vendor">Vendor</label>
            <input name="vendor" id="vendor" value="{{data['vendor']}}" readonly />
            <label for="amount">Amount</label>
            <input name="amount" id="amount" value="{{data['voucher_amt']}}" readonly />
        </div>

        <div>
            <label for="pmt_type">Pmt Type</label>
            <input name="pmt_type"id="pmt_type" value="{{data['payment_type']}}" readonly />
            <label for="source">Pmt Source</label>
            <input name="source" id="source" value="{{data['payment_source']}}" readonly />
            <label for="pmt_ref">Payment Ref</label>
            <input name="pmt_ref" id="pmt_ref" value="{{data['payment_ref']}}" readonly />
        </div>
        <h2>Detail</h2>
        <form method="POST" action="/voucher/detail_entry">
            <input type="hidden" id="id_voucher_number" name="voucher_number" value="{{data["voucher_number"]}}"/>
            <input type="hidden" id="id_splits_seq" name="splits" value="{{data["Splits"]}}"/>
            <input type="submit" value="+" name="add_detail"/>
        </form>

        <div class="grid-container">
            <div class="grid-header">Seq Num</div>
            <div class="grid-header">Ledger Acct</div>
            <div class="grid-header">Amount</div>
            <div class="grid-header">Dimension 1</div>
            <div class="grid-header">Dimension 2</div>
            <div class="grid-header">Memo</div>
            {% for line in data["Splits"] %}
                    <div class="grid-data">{{line["split_seq_number"]}}</div>    
                    <div class="grid-data">{{line["account_number"]}}</div>
                    <div class="grid-data">{{line["amount"]}}</div>
                    <div class="grid-data">{{line["dimension_1"]}}</div>
                    <div class="grid-data">{{line["dimension_2"]}}</div>
                    <div class="grid-data">{{line["memo"]}}</div>
            {% endfor %}            
        </div>
        <P>Total allocated:  {{detail_total}}</P>

    </div>
{% endblock %}