{% extends 'base.html' %}
{% block title %}
Voucher Entry
{% endblock %}
{% block header %}
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
{% endblock %} 
{% block content %}
<div class="container">
    <form action="/voucher/voucher_result" method="POST">
        <div>
            <label for="voucher_date" class="label">Transaction Date</label>
            <input type="text" id="voucher_date" name="voucher_date" autofocus required/>
            <label for="voucher_ref">voucher Reference</label>
            <input type="text" id="voucher_ref" name="voucher_ref" />
        </div>       
        <div>
            <label for="vendor-select">Vendor</label>
            <select name="vendor" id="vendor-select">
                {% include 'voucher/vendor_select.html' %}
            </select>
            <label for="voucher-type-select">Voucher Type</label>
            <select name="voucher_type" id="voucher-type-select">
                {% include 'voucher/voucher_type_select.html' %}
            </select>   
        </div>
        <div>
            <label for="voucher_amt">Amount</label>
            <input type="number" id="voucher_amt"name="voucher_amt" step="any"/>
            <label for="voucher-pay-type-select">Payment Type</label>     
            <select name="payment_type" id="voucher-pay-type-select">
                {% include 'voucher/payment_type_select.html' %}
            </select>
            <label for="pmt-acct-select"></label>
            <select name="pmt_account" id="pmt-acct-select">
                {% include 'voucher/pmt_account_select.html' %}
            </select>
        </div>
        <div>
            <label for="payment_ref">Payment Reference</label>  
            <input type="text" id="payment_ref" name="payment_ref"/>
            </label>
        </div>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}