{% extends 'base.html' %}
{% block title %}Edit Payable{% endblock %}
{% block header %}
<h1>{{ title }}</h1>
<p>{{ description }}</p>
{% endblock %}
{% block content %}
{% from 'common/forms.html' import input as input_control, select as select_control, display %}
<div class="container-md">
    <div class="row mb-3">
        <div class="col-2 gy-2">{{ display('Payable Id', payable['id']) }}</div>
        <div class="col-3">{{ display('Vendor', payable['vendor_short_desc']) }}</div>
        <div class="col-3">{{ display('Stmt Date', payable['stmt_dt']) }}</div>
        <div class="col-3">{{ display('Vendor Account', payable['vendor_account_name']) }}</div>
    </div>

    <form action="{{ url_for('payable.edit_payable', payable_id=payable['id']) }}" method="POST">
        <div class="row gx-2 gy-1">
            <div class="col-md-3 form-floating">
                <input type="number" id="stmt_amt" name="stmt_amt" step="any" class="form-control"
                    value="{{ payable['stmt_amt'] }}" required />
                <label class="ps-2" for="stmt_amt">Stmt Amount *</label>
                <div class="form-text"><small>The amount on the statement</small></div>
            </div>
            <div class="col-md-3 form-floating">
                <input type="text" id="payment_due_dt" name="payment_due_dt" class="form-control"
                    value="{{ payable['payment_due_dt'] }}" required />
                <label class="ps-2" for="payment_due_dt">Pmt Due Date *</label>
                <div class="form-text"><small>MM/DD/YY HH:MM TZ</small></div>
            </div>
            <div class="col-md-3 form-floating">
                {{ select_control('payment_source_id', id='payment_source_id', option_list=account_list,
                    option_key='external_account_id', option_value='account_name',
                    label='Pmt Source', helptext='Payment account',
                    selected_value=payable['payment_source_id']) }}
            </div>
        </div>

        <div class="row gx-2 gy-1">
            <div class="col-md-3 form-floating">
                <input type="number" id="payment_voucher_id" name="payment_voucher_id" class="form-control"
                    value="{{ payable['payment_voucher_id'] or '' }}" />
                <label class="ps-2" for="payment_voucher_id">Pmt Voucher Id</label>
                <div class="form-text"><small>Voucher number when payment was made</small></div>
            </div>
            <div class="col-md-3 form-floating">
                <input type="text" id="invoice_id" name="invoice_id" class="form-control"
                    value="{{ payable['invoice_id'] or '' }}" />
                <label class="ps-2" for="invoice_id">Invoice Id</label>
                <div class="form-text"><small>Reference number on the invoice</small></div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-auto">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
            <div class="col-auto">
                <a href="{{ url_for('payable.get_payable', payable_id=payable['id']) }}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
