{% extends 'base.html' %}
{% block title %}
Voucher Entry
{% endblock %}
{% block header %}
<h1>{{ title }}</h1>
<p>{{ description }}</p>
{% endblock %}
{% block content %}
<div class="container-md">
    <form action="/payable/payable_result" method="POST">
        <div class="row gx-2 gy-1">
            <div class="col-md-4 form-floating">
                <input type="text" id="date" class="form-control" name="stmt_dt" placeholder="" autofocus required />
                <label class="ps-2" for="date" data-bs-toggle="tooltip" data-bs-title="MM/DD/YY HH:MM TZ">Item Date</label>
                <div id="dateHelpBlock" class="form-text">
                    <small>MM/DD/YY HH:MM TZ</small>
                </div>    
            </div>
            <div class="col-md-4 form-floating">
                {% include 'common/vendor_select.html' %}
            </div>
            <div class="col-md-4 form-floating">
                <input ype="number" id="stmt_amt" name="stmt_amt" step="any" class="form-control"/>
                <label class="ps-2" for="stmt_amt">Stmt Amount</label>
                <div id="" class="form-text">
                    <small>The amount on the invoice</small>
                </div>
            </div>
        </div>

        <div class="row gx-2 gy-1">
            <div class="col-md-4 form-floating">
                <input type="text" id="payment_due_dt" class="form-control" name="payment_due_dt" placeholder="" autofocus required />
                <label class="ps-2" for="payment_due_dt" data-bs-toggle="tooltip" data-bs-title="MM/DD/YY HH:MM TZ">Pmt Due Date</label>
                <div id="dateHelpBlock" class="form-text">
                    <small>MM/DD/YY HH:MM TZ</small>
                </div>    
            </div>
            <div class="col-md-4 form-floating">
                <select name="payment_source" id="pmt-acct-select" class="form-select">
                    {% include 'voucher/pmt_account_select.html' %}
                </select>
                <label class="ps-2" for="payment_source">Payment Source</label>
                <div id="paymentAcctHelpBlock" class="form-text">
                    <small>The source of the payment</small>
                </div>
        </div>


    </form>
</div>

{% endblock %
}