<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href={{ url_for("home") }}>MyFinance</a>
        <span>
            {% if g.user == None %}
            <a href={{ url_for("auth.login")}}>Login</a>
            {% else %}
            {{ g.user['username']}}
            {% endif %}
        </span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="nav nav-pills me-auto mb-2 mb-md-0">
                <a class="nav-link" aria-current="page" href={{ url_for("home") }} role="button">Home</a>
                <div class="nav-item dropend">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item nav-link" href={{ url_for("voucher.enter_voucher") }}>Enter
                                Voucher</a></li>
                        <li><a class="dropdown-item nav-link" href={{ url_for("voucher.enter_voucher") }}>Search for
                                Voucher</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item nav-link" href={{ url_for("payable.enter_payable") }}>Enter
                                Account Payable</a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-nav me-auto mb-2 mb-md-0">
                <a href={{ url_for("help") }}>Help</a>
            </div>
            <form class="d-flex" action={{ url_for("voucher.search") }} method="post">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    name="search_phrase">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>