<!-- Old nav
<div>
    <a href="/">Home</a>&nbsp;
    <a href="/voucher">Voucher Entry</a>&nbsp;
    <a href={{ url_for("auth.logout")}}>Logout</a>&nbsp;
</div>
<div>
    {% if g.user == None %}
        <a href={{ url_for("auth.login")}}>Login</a>
    {% else %}
        {{ g.user['username']}}
    {% endif %}
</div>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MyFinance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={{ url_for("home") }}>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for("voucher.enter_voucher") }}>Enter Voucher</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if g.user == None %}
                <a href={{ url_for("auth.login")}}>Login</a>
                {% else %}
                {{ g.user['username']}}
                {% endif %}
            </div>
            <form class="d-flex" action={{ url_for("voucher.search") }} method="post">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_phrase">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>