<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <button class="nav-link {% if title=='Home' %} active {% endif %}" aria-current="page" href={{ url_for("home") }}>Home</button>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link {% if title=='Voucher Entry' %} active {% endif %}" href={{ url_for("voucher.enter_voucher") }}>Enter Voucher</a>
        </li>
        -->

        <li class="btn-group dropend">
            <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Action
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href={{ url_for("voucher.enter_voucher") }}>Enter Voucher</a></li>
                <li><a class="dropdown-item" href={{ url_for("voucher.enter_voucher") }}>Search for Voucher</a></li>
<!--
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
-->
            </ul>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        -->
    </ul>