{% extends 'base.html' %}
{% block header %}
<h1>{{title}}</h1>
<p>{{description}}</p>
{% endblock %}
{% block content %}
{% from 'common/forms.html' import input as input_control, select as select_control, display %}
<div class="container-md">
    <h3>Vouchers</h3>
    <div class="row">
        <div class="col-2 gy-2">Id</div>
        <div class="col-4">Date</div>
        <div class="col-2">Amt</div>
        <div class="col-4">Vendor</div>    
    </div>
    {% for item in vouchers %}
        <div class="row">
            <div class="col-2 gy-2">
                <a href={{ url_for('voucher.get_voucher', voucher_number = item.voucher_number) }}>{{ item.voucher_number }}</a></div>
            <div class="col-4">{{ item.voucher_date }}</div>
            <div class="col-2">{{ item.voucher_amt }}</div>
            <div class="col-4">{{ item.vendor }}</div>
        </div>
    {% endfor %}
    <h3>Vendors</h3>
    <div class="row">
        <div class="col-4">Vendor Number</div>
        <div class="col-4">Vendor Name</div>
    </div>
    {% for vendor in vendors %}
    <div class="row">
        <div class="col-4">{{ vendor.vendor_number }}</div>
        <div class="col-4">{{ vendor.vendor_short_desc }}</div>
    </div>
    {% endfor %}
    <h3>Payables</h3>
    <div class="row">
        <div class="col-2 gy-2">Id</div>
        <div class="col-4">Date</div>
        <div class="col-2">Amt</div>
        <div class="col-4">Vendor</div>
    </div>
    {% for item in payables %}
    <div class="row">
        <div class="col-2 gy-2">
            <a href={{ url_for('payable.get_payable', payable_id = item.id) }}>{{ item.id }}</a>
        </div>
        <div class="col-4">{{ item.stmt_dt }}</div>
        <div class="col-2">{{ item.stmt_amt }}</div>
        <div class="col-4">{{ item.vendor_short_desc }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}