{% extends 'base.html' %}
{% block title %}
Detail Entry
{% endblock %}
{% block header %}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
{% endblock%}
{% block content %}
<div class="container">
    <form action="/voucher/detail_result" method="POST">
        <div class="row gx-5">
            <div class="col-auto form-floating">
                <input type="text" id="voucher_number" class="form-control" name="voucher_number" value="{{voucher_number}}" readonly/>
                <label class="px-5" for="voucher_number">Voucher Number</label>
            </div>
            <div class="col-auto form-floating">
                <input type="text" id="split_seq_number" class="form-control" name="split_seq_number" value="{{split_seq_number}}" readonly/>
                <label class="px-5" for="split_seq_number">Split</label>
            </div>
            <div class="col-auto form-floating">
                <input type="text" id="account_number" class="form-control" name="account_number" autofocus required>
                <label class="px-5" for="account_number">Ledger Acct</label>
            </div>
        </div>

        <div class="row gx-5">               
            <div class="col-auto form-floating">
                <input type="number" id="amount" class="form-control" name="amount" step="any" value="{{voucher_remain }}" required/>
                <label class="px-5" for="amount">Amount</label>
            </div>
            <div class="col-auto form-floating">
                <input type="text" id="dimension_1" class="form-control" name="dimension_1" required/>
                <label class="px-5" for="dimension_1">Dimension 1</label>
            </div>
            <div class="col-auto form-floating">
                <input type="text" id="dimension_2" class="form-control" name="dimension_2"/>
                <label class="px-5" for="dimension_2">Dimension 2</label>
            </div>
        </div>

        <div class="row gx-5">
            <div class="col-auto form-floating">
                <input type="text" id="memo" class="form-control" name="memo"/>
                <label class="px-5" for="memo">Line Item Memo</label>
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-primary mb-3" value="Submit">
        </div>
    </form>    
    <form action="{{ url_for(".get_voucher", voucher_number=voucher_number) }}">
        <input class="danger" type="submit" value="Cancel"/>
    </form>
</div> 
{% endblock %} 