{% extends 'base.html' %}
{% block title %}
Detail Entry
{% endblock %}
{% block header %}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
{% endblock%}
{% block content %}
<div class="container">
    <form action="/voucher/detail_result" method="POST">
        <div class="row gx-3">
            <div class="col-3 form-floating">
                <input type="text" id="voucher_number" class="form-control" name="voucher_number" value="{{voucher_number}}" readonly/>
                <label class="px-2" for="voucher_number">Voucher</label>
            </div>
            <div class="col-2 form-floating">
                <input type="text" id="split_seq_number" class="form-control" name="split_seq_number" value="{{split_seq_number}}" readonly/>
                <label class="px-2" for="split_seq_number">Split</label>
            </div>
            <div class="col-5 form-floating">
                <input type="text" id="account_number" class="form-control" name="account_number" autofocus required>
                <label class="px-2" for="account_number">Ledger Acct</label>
                <div id="legderAcctHelpText" class="form-text">
                    <small>The ledger account to which this should be charged</small>
                </div>
            </div>
            <div class="col-2 form-floating">
                <button type="button" class="btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#acctHintsModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                </button>                
            </div>

        </div>

        <div class="row gx-3">               
            <div class="col-auto form-floating">
                <input type="number" id="amount" class="form-control" name="amount" step="any" value="{{voucher_remain}}" required/>
                <label class="px-2" for="amount">Amount</label>
                <div id="splitAmtHelpText" class="form-text">
                    <small>The amt to be charged to this split</small>
                </div>
            </div>
            <div class="col-auto form-floating">
                <input type="text" id="dimension_1" class="form-control" name="dimension_1" required/>
                <label class="px-2" for="dimension_1">Dimension 1</label>
                <div id="dim1HelpText" class="form-text">
                    <small>Ledger Account Dim 1</small>
                </div>
            </div>
            <div class="col-auto form-floating">
                <input type="text" id="dimension_2" class="form-control" name="dimension_2"/>
                <label class="px-2" for="dimension_2">Dimension 2</label>
                <div id="dim2HelpText" class="form-text">
                    <small>Ledger Account Dim 2</small>
                </div>
            </div>
        </div>

        <div class="row gx-3">
            <div class="col-auto form-floating">
                <input type="text" id="memo" class="form-control" name="memo"/>
                <label class="px-2" for="memo">Line Item Memo</label>
                <div id="memoHelpText" class="form-text">
                    <small>Amplifying info to include with this item</small>
                </div>
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-primary mb-3" value="Submit">
        </div>
    </form>    
    <form action="{{ url_for(".get_voucher", voucher_number=voucher_number) }}">
        <input class="danger" type="submit" value="Cancel"/>
    </form>
</div>

<div class="modal fade" id="acctHintsModal" tabindex="-1" aria-labelledby="acctHintsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'voucher/account_hints.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
{% endblock %} 