{% extends 'base.html' %}
{% block title %}
Voucher Entry
{% endblock %}
{% block header %}
<h1>{{ title }}</h1>
<p>{{ description }}</p>
{% endblock %}
{% block content %}
<div class="container-md">
    <form action="/voucher/voucher_result" method="POST">
        <div class="row gx-2 gy-1">
            <div class="col-md-4 form-floating">
                <input type="text" id="voucher_date" class="form-control" name="voucher_date" placeholder="" autofocus
                    required />
                <label class="ps-2" for="voucher_date" data-bs-toggle="tooltip"
                    data-bs-title="MM/DD/YY HH:MM TZ">Transaction Date</label>
                <div id="dateHelpBlock" class="form-text">
                    <small>MM/DD/YY HH:MM TZ</small>
                </div>
            </div>
            <div class="col-md-8 form-floating">
                <input type="text" id="voucher_ref" class="form-control" name="voucher_ref"
                    placeholder="Voucher Reference" />
                <label class="ps-2" for="voucher_ref">Voucher Reference</label>
                <div id="voucherRefHelpBlock" class="form-text">
                    <small>Enter identifying information from the voucher, such as the voucher or invoice number</small>
                </div>
            </div>
        </div>

        <div class="row gx-2 gy-1">
            <div class="col-md-6 form-floating">
                {% include 'common/vendor_select.html' %}
            </div>
            <div class="col-md-3 form-floating">
                {% include 'common/voucher_type_select.html' %}
            </div>
            <div class="col-md-3 form-floating">
                <input type="number" id="voucher_amt" name="voucher_amt" step="any" class="form-control" />
                <label class="ps-2" for="voucher_amt">Amount</label>
                <div id="amountHelpBlock" class="form-text">
                    <small>The amount of the voucher</small>
                </div>
            </div>
        </div>

        <div class="row gx-2 gy-1">
            <div class="col-md-4 form-floating">
                <select name="payment_type" id="voucher-pay-type-select" class="form-select">
                    {% include 'voucher/payment_type_select.html' %}
                </select>
                <label class="ps-2" for="voucher-pay-type-select">Payment Type</label>
                <div id="paymentTypeHelpBlock" class="form-text">
                    <small>The type of the payment</small>
                </div>
            </div>
            <div class="col-md-4 form-floating">
                <select name="pmt_account" id="pmt-acct-select" class="form-select">
                    {% include 'voucher/pmt_account_select.html' %}
                </select>
                <label class="ps-2" for="pmt-acct-select">Payment Source</label>
                <div id="paymentAcctHelpBlock" class="form-text">
                    <small>The source of the payment</small>
                </div>  
            </div>
        </div>

        <div class="row gx-2 gy-1">
            <div class="col-md-8 form-floating">
                <input type="text" id="payment_ref" name="payment_ref" class="form-control"
                    placeholder="Payment Reference" />
                <label class="ps-2" for="payment_ref">Payment Reference</label>
                <div id="paymentRefHelpBlock" class="form-text">
                    <small>
                        Enter additional information, such as location, the nature of the service or the vendor for a
                        generic vendor which will appear in the ledger.
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <input type="submit" value="Submit" class="btn btn-primary mb-3">
            </div>
        </div>
    </form>
    <!--
    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
    -->
</div>
{% endblock %}
{% block script %}
<script>
    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }
</script>
{% endblock %}