{% extends 'base.html' %}
{% block header %}
<h1>{{title}}</h1>
<p>{{description}}</p>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <div class="form-text">
            <h3>Header</h3>
        </div>

        <div class="row gx-3">
            <div class="col-3 form-floating">
                <input name="number" id="number" class="form-control" value="{{data['voucher_number']}}" readonly />
                <label class="px-2" for="number">Number</label>
            </div>
            <div class="col-4 form-floating">
                <input name="date" id="date" class="form-control" value="{{data['voucher_date']}}" readonly />
                <label class="px-2" for="date">Trans Date</label>
            </div>
            <div class="col-4 form-floating">
                <input name="ref" id="ref" class="form-control" value="{{data['voucher_ref']}}" readonly />
                <label class="px-2" for="ref">Reference</label>
            </div>
        </div>

        <div class="row gx-3">
            <div class="col-auto form-floating">
                <input name="vendor" id="vendor" class="form-control" value="{{data['vendor']}}" readonly />
                <label class="px-2" for"vendor">Vendor</label>
            </div>
            <div class="col-auto form-floating">
                <input name="amount" id="amount" class="form-control" value={{ "${:,.2f}" .format(data['voucher_amt'])
                    }} readonly />
                <label class="px-2" for="amount">Amount</label>
            </div>
        </div>
        <div class="row gx-3">
            <div class="col-auto form-floating">
                <input name="pmt_type" id="pmt_type" class="form-control" value="{{data['payment_type']}}" readonly />
                <label class="px-2" for="pmt_type">Pmt Type</label>
            </div>
            <div class="col-auto form-floating">
                <input name="source" id="source" class="form-control" value="{{data['payment_source']}}" readonly />
                <label class="px-2" for="source">Pmt Source</label>
            </div>
            <div class="col-auto form-floating">
                <input name="pmt_ref" id="pmt_ref" class="form-control" value="{{data['payment_ref']}}" readonly />
                <label class="px-2" for="pmt_ref">Pmt Ref</label>
            </div>
        </div>
    </div>

    <div>
        <div class="row gx-3">
            <div class="col-3 form-text">
                <h3>Detail</h3>
            </div>
            <div class="col-9 form-text">
                <p>Total allocated: {{"${:,.2f}".format(detail_total) }}</p>
            </div>
        </div>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Ledger Acct</th>
                <th scope="col">Amount</th>
                <th scope="col">Dim 1</th>
                <th scope="col">Dim 2</th>
                <th scope="col">Memo</th>
            </thead>
            <tbody>
                {% for line in data["Splits"] %}
                <tr>
                    <th scope="row">{{line["split_seq_number"]}}</th>
                    <td>{{line["account_number"]}}</td>
                    <td>{{"${:,.2f}".format(line["amount"])}}</td>
                    <td>{{line["dimension_1"]}}</td>
                    <td>{{line["dimension_2"]}}</td>
                    <td>{{line["memo"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <form method="POST" action="/voucher/detail_entry">
            <input type="hidden" id="id_voucher_number" name="voucher_number" value="{{data["voucher_number"]}}" />
            <input type="hidden" id="id_splits_seq" name="splits" value="{{data["Splits"]}}" />
            <input type="submit" class="btn btn-outline-success"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .50rem;" value="+"
                name="add_detail" />
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}